{
    "implicitWaitTime": 5,
    "appiumServer": "http://localhost:4723/wd/hub",
    "repeatCount": 3,
    "desiredCaps":
    {
      "platformName": "iOS",
      "automationName": "XCUITest",
      "udid": "76d7696d690670a12935508471b1aa5ea441214f",
      "deviceName": "iPhone SE",
      "platformVersion": "12.3.1",
      "bundleId": "com.cliqz.ios.lumen",
      "xcodeOrgId": "2UYYSSHVUH",
      "xcodeSigningId": "iPhone Developer",
      "usePrebuiltWDA": true,
      "derivedDataPath": "WebDriverAgent",
      "autoAcceptAlerts": true
    }
}